html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: 'Lato', sans-serif !important;
}

.menu {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.title {
		h1 {
			color: #e74c3c;
			text-align: center;
			font-size: 40px;
			font-weight: 600;
		}
	}
	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		width: 250px;
		height: 100px;
		color: #e74c3c !important;
	}
}

.game {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	.card {
		cursor: pointer;
		cursor: hand;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 240px;
		height: 349px; 
		background: url(../images/noCard.png);
		background-position: center;
		background-size: cover;
	}
	.nextBtn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		color: #e74c3c;
	}

	button {
		margin-top: 10px;
		color: #e74c3c;
	}

	.cardCount {
		margin-top: 20px;
		text-align: center;
	}
	
	.btnWrap {
		width: 155px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		color: #e74c3c;
		// margin-bottom: 40px;
		.rulesBtn {
			margin-left: 13px;
			width: 75px;
		}

		.back {
			margin-left: 10px;
			width: 75px;
			color: #e74c3c;
			i {
				color: #e74c3c;
			}
		}
	}
}

.info {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
	.title {
		h1 {
			color: #e74c3c;
			text-align: center;
			font-size: 40px;
			font-weight: 600;
		}
	}
	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		color: #e74c3c;
		i {
			color: #e74c3c;
		}

	}
	i {
		color: #e74c3c;
	}
	a {
		color: #e74c3c
	}
	#foot {
		margin-top: 30px;
		text-align: center;
	}
}

//Fix about width on large sceens
@media (min-width: 720px) {
	.info {
		width: 602px;
	}
}

.rules {
	.title {
		h1 {
			color: #e74c3c;
			text-align: center;
			font-size: 40px;
			font-weight: 600;
		}
	}
	
	li {
		display: block;
		margin-right: auto;
		margin-left: auto;
		list-style: none;
		font-size: 16px;
		width: 70%;
		padding: 0px;
		ul {
			padding: 0px;
			text-align: center;
			span {
				color: #e74c3c;
				font-size: 20px;
				font-weight: 600;
			}
		}
	}

	button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		color: #e74c3c;
		i {
			color: #e74c3c;
		}
	}
	.back {
		margin-bottom: 20px;
	}
}